In [1]:
import pandas as pd
data_1 = pd.read_csv(
            r'C:\Users\SA012547\Documents\advent_of_code_2023\advent_of_code.csv',sep=';', encoding='latin-1', header=None)

In [2]:
dict_replace_0 = {
    '(twone)':'two one',
    '(oneight)' : ' one eight',
    '(threeight)' : 'three eight',
    'fiveight': 'five eight',
    'nineight' : 'nine eight',
    'eightwo' : 'eight two',
    'eighthree': 'eight three',
    'seven nine': 'seven nine'}

dict_replace_1 = {
    '(one)':'1',
    '(two)':'2',
    '(three)':'3',
    '(four)':'4',
    '(five)':'5',
    '(six)':'6',
    '(seven)':'7',
    '(eight)':'8',
    '(nine)':'9'
}

In [3]:
data_1['string0'] = data_1

In [4]:
data_1['string00'] = data_1['string0'].replace(dict_replace_0, regex=True)
data_1['string'] = data_1['string00'].replace(dict_replace_1, regex=True)

In [6]:
data_1['number1'] = data_1['string'].str.extract('(\d{1})')

In [8]:
data_1['number2'] = data_1['string'].str[::-1].str.extract('(\d{1})')

In [10]:
data_1['full_num'] = pd.to_numeric(data_1['number1'] + data_1['number2'])

In [11]:
data_1['sum'] =  data_1["full_num"].sum()

In [12]:
data_1

,0,string0,string00,string,number1,number2,full_num,sum
0,jjfvnnlfivejj1,jjfvnnlfivejj1,jjfvnnlfivejj1,jjfvnnl5jj1,5,1,51,55902
1,6fourfour,6fourfour,6fourfour,644,6,4,64,55902
2,ninevbmltwo69,ninevbmltwo69,ninevbmltwo69,9vbml269,9,9,99,55902
3,pcg91vqrfpxxzzzoneightzt,pcg91vqrfpxxzzzoneightzt,pcg91vqrfpxxzzz one eightzt,pcg91vqrfpxxzzz 1 8zt,9,8,98,55902
4,jpprthxgjfive3one1qckhrptpqdc,jpprthxgjfive3one1qckhrptpqdc,jpprthxgjfive3one1qckhrptpqdc,jpprthxgj5311qckhrptpqdc,5,1,51,55902
...,...,...,...,...,...,...,...,...
995,583sevenhjxlqzjgbzxhkcl5,583sevenhjxlqzjgbzxhkcl5,583sevenhjxlqzjgbzxhkcl5,5837hjxlqzjgbzxhkcl5,5,5,55,55902
996,81s,81s,81s,81s,8,1,81,55902
997,2four3threesxxvlfqfive4,2four3threesxxvlfqfive4,2four3threesxxvlfqfive4,2433sxxvlfq54,2,4,24,55902
998,nine6eightsevenzx9twoxc,nine6eightsevenzx9twoxc,nine6eightsevenzx9twoxc,9687zx92xc,9,2,92,55902
999,hmbfjdfnp989mfivefiverpzrjs,hmbfjdfnp989mfivefiverpzrjs,hmbfjdfnp989mfivefiverpzrjs,hmbfjdfnp989m55rpzrjs,9,5,95,55902