In [189]:
import pandas as pd
data_1 = pd.read_csv(
            r'C:\Users\SA012547\Documents\advent_of_code_2023\day_2.txt',sep=':', encoding='latin-1', header=None) #['nb_game', 'liste_cube'])

In [ ]:
# 12 red cubes, 13 green cubes, and 14 blue cubes. What is the sum of the IDs of those games?

In [190]:
data_1.columns = ['nb_game', 'liste_cube']

In [97]:
data_1['red']=data_1['liste_cube'].replace(r'\d+ (blue|green),*', '', regex=True)
# data_1['red1']=data_1['red'].replace(r'(;)', ',', regex=True)
data_1['red2']=data_1['red'].replace(r'(red|;)', '', regex=True)
data_1['red2']=data_1['red2'].replace(r'( *, *)+', ',', regex=True)
data_1['red3']=data_1['red2'].str.split(',')
# data_1['max_red']=data_1['red3'].astype(int)
data_1

,nb_game,liste_cube,red,red2,red3
0,Game 1,"12 red, 2 green, 5 blue; 9 red, 6 green, 4 bl...","12 red, ; 9 red, ; 10 red, ; 9 red","12,9,10,9","[ 12, 9, 10, 9 ]"
1,Game 2,"3 green, 7 red; 3 blue, 5 red; 2 green, 1 blu...","7 red; 5 red; 6 red; 2 red,","7 5 6 2,","[ 7 5 6 2, ]"
2,Game 3,"12 red, 18 blue, 3 green; 14 red, 4 blue, 2 g...","12 red, ; 14 red, ; 15 red","12,14,15","[ 12, 14, 15 ]"
3,Game 4,"14 blue, 8 red, 10 green; 7 green, 9 blue, 4 ...","8 red, ; 4 red; 5 red","8,4 5","[ 8, 4 5 ]"
4,Game 5,"2 red, 1 blue, 4 green; 1 blue, 1 red, 5 gree...","2 red, ; 1 red, ; 3 red; 1 red","2,1,3 1","[ 2, 1, 3 1 ]"
...,...,...,...,...,...
95,Game 96,"2 green; 7 blue, 10 red, 4 green; 9 red, 2 bl...","; 10 red, ; 9 red,","10,9,","[ 10, 9, ]"
96,Game 97,"5 blue, 6 red, 14 green; 6 green, 14 blue, 2 ...","6 red, ; 2 red;","6,2","[ 6, 2 ]"
97,Game 98,"8 green, 1 blue, 9 red; 1 blue, 10 green; 11 ...","9 red; ; 3 red; 10 red; 7 red; 4 red,","9 3 10 7 4,","[ 9 3 10 7 4, ]"
98,Game 99,"1 red, 6 green, 3 blue; 7 blue, 1 red, 2 gree...","1 red, ; 1 red, ; 1 red, ; 1 red; ; 1 r...","1,1,1,1 1,","[ 1, 1, 1, 1 1, ]"
99,Game 100,"5 green, 1 red; 1 red, 6 green; 6 blue, 1 red...","1 red; 1 red, ; 1 red, ; 2 red; 1 red, ;","1 1,1,2 1,","[ 1 1, 1, 2 1, ]"

In [191]:
data_1['green1']=data_1['liste_cube'].replace(r'\d+ (blue|red),*', '', regex=True) 
data_1['green1']=data_1['green1'].replace(r'( *|,*|green)','', regex=True)
# data_1['redx']=data_1['redx'].replace(r'(^ *,|, *$| red)','', regex=True)
data_1['green1']=data_1['green1'].replace(r';|,',',', regex=True)
data_1['green1']=data_1['green1'].replace(r',+',',', regex=True)
data_1['green1']=data_1['green1'].replace(r'(^,|,$)', '', regex=True)
data_1['green1']=data_1['green1'].str.split(',')
# data_1['redx3'] =[[int(idx, 10) for idx in x.split(",")] for x in data_1['redx']]
data_1['green_max']=data_1['green1'].explode().astype(int).max(level=0)

C:\Users\SA012547\AppData\Local\Temp\ipykernel_24948\2709171552.py:9: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  data_1['green_max']=data_1['green1'].explode().astype(int).max(level=0)

In [193]:
data_1['blue']=data_1['liste_cube'].replace(r'\d+ (green|red),*', '', regex=True) 
data_1['blue']=data_1['blue'].replace(r'( *|,*|blue)','', regex=True)
# data_1['redx']=data_1['redx'].replace(r'(^ *,|, *$| red)','', regex=True)
data_1['blue']=data_1['blue'].replace(r';|,',',', regex=True)
data_1['blue']=data_1['blue'].replace(r',+',',', regex=True)
data_1['blue']=data_1['blue'].replace(r'(^,|,$)', '', regex=True)
data_1['blue']=data_1['blue'].str.split(',')
# data_1['redx3'] =[[int(idx, 10) for idx in x.split(",")] for x in data_1['redx']]
data_1['blue_max']=data_1['blue'].explode().astype(int).max(level=0)

C:\Users\SA012547\AppData\Local\Temp\ipykernel_24948\1432435433.py:9: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  data_1['blue_max']=data_1['blue'].explode().astype(int).max(level=0)

In [194]:
data_1['redx']=data_1['liste_cube'].replace(r'\d+ (blue|green),*', '', regex=True) 
data_1['redx']=data_1['redx'].replace(r'( *|,*|red)','', regex=True)
# data_1['redx']=data_1['redx'].replace(r'(^ *,|, *$| red)','', regex=True)
data_1['redx']=data_1['redx'].replace(r';|,',',', regex=True)
data_1['redx']=data_1['redx'].replace(r',+',',', regex=True)
data_1['redx']=data_1['redx'].replace(r'(^,|,$)', '', regex=True)
data_1['redx2']=data_1['redx'].str.split(',')
# data_1['redx3'] =[[int(idx, 10) for idx in x.split(",")] for x in data_1['redx']]
data_1['red_max']=data_1['redx2'].explode().astype(int).max(level=0)
# data_1['redx3']=data_1['redx2'].apply(lambda x: x.astype(int))
data_1

C:\Users\SA012547\AppData\Local\Temp\ipykernel_24948\2986714561.py:9: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  data_1['red_max']=data_1['redx2'].explode().astype(int).max(level=0)

,nb_game,liste_cube,green1,green_max,redx,redx2,red_max,blue,blue_max
0,Game 1,"12 red, 2 green, 5 blue; 9 red, 6 green, 4 bl...","[2, 6, 2]",6,"12,9,10,9","[12, 9, 10, 9]",12,"[5, 4, 5, 8]",8
1,Game 2,"3 green, 7 red; 3 blue, 5 red; 2 green, 1 blu...","[3, 2, 3]",3,"7,5,6,2","[7, 5, 6, 2]",7,"[3, 1, 3]",3
2,Game 3,"12 red, 18 blue, 3 green; 14 red, 4 blue, 2 g...","[3, 2, 4]",4,"12,14,15","[12, 14, 15]",15,"[18, 4]",18
3,Game 4,"14 blue, 8 red, 10 green; 7 green, 9 blue, 4 ...","[10, 7, 4]",10,"8,4,5","[8, 4, 5]",8,"[14, 9]",14
4,Game 5,"2 red, 1 blue, 4 green; 1 blue, 1 red, 5 gree...","[4, 5, 6, 4]",6,"2,1,3,1","[2, 1, 3, 1]",3,"[1, 1, 10]",10
...,...,...,...,...,...,...,...,...,...
95,Game 96,"2 green; 7 blue, 10 red, 4 green; 9 red, 2 bl...","[2, 4, 9]",9,"10,9","[10, 9]",10,"[7, 2]",7
96,Game 97,"5 blue, 6 red, 14 green; 6 green, 14 blue, 2 ...","[14, 6, 4]",14,"6,2","[6, 2]",6,"[5, 14, 2]",14
97,Game 98,"8 green, 1 blue, 9 red; 1 blue, 10 green; 11 ...","[8, 10, 11, 11, 14, 10]",14,"9,3,10,7,4","[9, 3, 10, 7, 4]",10,"[1, 1, 1, 1]",1
98,Game 99,"1 red, 6 green, 3 blue; 7 blue, 1 red, 2 gree...","[6, 2, 4, 6, 2, 6]",6,"1,1,1,1,1","[1, 1, 1, 1, 1]",1,"[3, 7, 11, 4, 2]",11
99,Game 100,"5 green, 1 red; 1 red, 6 green; 6 blue, 1 red...","[5, 6, 6, 1, 4, 8]",8,"1,1,1,2,1","[1, 1, 1, 2, 1]",2,"[6, 6, 8, 5]",8

In [ ]:
# 12 red cubes, 13 green cubes, and 14 blue cubes. What is the sum of the IDs of those games?

In [200]:
data_2 = data_1[(data_1.red_max <13) &(data_1.green_max <14)&(data_1.blue_max <15)]
data_2['nb_game2']=data_2['nb_game'].replace(r'Game', '', regex=True).astype(int) 
sum(data_2['nb_game2'])

C:\Users\SA012547\AppData\Local\Temp\ipykernel_24948\1736097800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['nb_game2']=data_2['nb_game'].replace(r'Game', '', regex=True).astype(int)

2600

In [ ]:
# The power of a set of cubes is equal to the numbers of red, green, and blue cubes multiplied together. The power of the minimum set of cubes in game 1 is 48. In games 2-5 it was 12, 1560, 630, and 36, respectively. Adding up these five powers produces the sum 2286.

# For each game, find the minimum set of cubes that must have been present. What is the sum of the power of these sets?

In [ ]:
#all game > pas que ceux avec le max de cubes

In [203]:
data_1['mult']=data_1['green_max']*data_1['red_max']*data_1['blue_max']
sum(data_1['mult'])

86036